<ion-tabs>
  <ion-tab-bar slot="bottom" class="animated-tab-bar">
    <ion-tab-button tab="home" class="tab-button-animated">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" class="tab-button-animated">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tab-button-animated">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
