.zone-management-container {
  padding: 16px;
}

.zone-level-indicator {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.edit-form {
  margin-bottom: 16px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  
  ion-button {
    margin-left: 8px;
  }
}

.center-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}