<ion-header>
  <ion-toolbar>
    <ion-title>User Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadActivities()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchQuery"
      placeholder="Search activities"
      animated
      debounce="300">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-activity-container">
    <ion-list>
      <ion-item *ngFor="let activity of filterActivities()" (click)="showActivityDetails(activity)">
        <ion-avatar slot="start">
          <ion-icon name="person-circle" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ activity.userName || 'System' }}</h2>
          <p>{{ formatActionType(activity.action) }}</p>
          <p>{{ activity.timestamp | date:'medium' }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="filterActivities().length === 0 && !loading">
        <ion-label class="ion-text-center">
          No activities found
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-spinner *ngIf="loading" class="center-spinner"></ion-spinner>
  </div>
</ion-content>