<ion-menu *ngIf="uiMode === 'sidebar'" side="end" menuId="home-actions" contentId="home-content" class="home-actions-menu">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>{{ 'HOME.ACTIONS_TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-list circle-menu">
      <ion-item class="menu-item critical" button (click)="triggerPanicButton()">
        <ion-icon name="alert-circle" slot="start"></ion-icon>
        <ion-label>{{ 'HOME.ACTIONS.PANIC' | translate }}</ion-label>
        <ion-note slot="end" class="menu-note">{{ 'HOME.ACTIONS.PANIC_NOTE' | translate }}</ion-note>
      </ion-item>
      <ion-item class="menu-item accent" button (click)="toggleHeatmap()">
        <ion-icon name="flame" slot="start"></ion-icon>
        <ion-label>{{ 'HOME.ACTIONS.HEATMAP' | translate }}</ion-label>
        <ion-badge slot="end" color="warning" *ngIf="isHeatmapVisible">On</ion-badge>
        <ion-note slot="end" class="menu-note" *ngIf="!isHeatmapVisible">{{ 'HOME.ACTIONS.HEATMAP_NOTE' | translate }}</ion-note>
      </ion-item>
      
    </ion-list>
  </ion-content>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</ion-menu>

<ion-content [fullscreen]="true" id="home-content">
  <div id="map"></div>
  
  <div class="heatmap-legend" *ngIf="isHeatmapVisible">
    <div class="legend-title">Zone Levels</div>
    <div class="legend-item">
      <div class="legend-color safe"></div>
      <span class="legend-label">Safe</span>
    </div>
    <div class="legend-item">
      <div class="legend-color neutral"></div>
      <span class="legend-label">Neutral</span>
    </div>
    <div class="legend-item">
      <div class="legend-color caution"></div>
      <span class="legend-label">Caution</span>
    </div>
    <div class="legend-item">
      <div class="legend-color danger"></div>
      <span class="legend-label">Danger</span>
    </div>
  </div>

  <div class="floating-ui" *ngIf="uiMode === 'buttons'">
    <ion-button 
      id="panic-button" 
      (click)="triggerPanicButton()" 
      [disabled]="isPanicActive"
      color="danger">
      <ion-icon name="alert-circle"></ion-icon>
    </ion-button>

    <ion-button 
      id="heatmap-toggle" 
      (click)="toggleHeatmap()" 
      [color]="isHeatmapVisible ? 'warning' : 'primary'">
      <ion-icon name="flame"></ion-icon>
    </ion-button>
  </div>


  <div class="gps-status" *ngIf="gpsAccuracy">
    <ion-chip [color]="getGPSStatusColor()">
      <ion-icon name="location"></ion-icon>
      <ion-label>GPS: {{ gpsAccuracy.status }}</ion-label>
    </ion-chip>
  </div>

  <div class="status-indicator" *ngIf="inDangerZone">
    <ion-chip color="danger">
      <ion-icon name="warning"></ion-icon>
      <ion-label>You are in a danger zone!</ion-label>
    </ion-chip>
  </div>
  
  <div *ngIf="uiMode === 'sidebar'" #edgeHandle class="edge-handle" (click)="openActionsMenu()" aria-label="Open Sidebar"></div>
</ion-content>
