
<ion-header>
  <ion-toolbar>
    <ion-title>Danger Zone Heatmap</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateMap()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapContainer id="map-container" style="height: 100%;"></div>

  <div class="map-legend">
    <div class="legend-item">
      <span class="legend-color danger"></span>
      <span>Danger Zone</span>
    </div>
    <div class="legend-item">
      <span class="legend-color caution"></span>
      <span>Caution Zone</span>
    </div>
    <div class="legend-item">
      <span class="legend-color neutral"></span>
      <span>Neutral Zone</span>
    </div>
    <div class="legend-item">
      <span class="legend-color safe"></span>
      <span>Safe Zone</span>
    </div>
  </div>
</ion-content>